<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/secure">secure</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to Our authentic page</h1>
        <p>This is the user secure  page.</p>
    </main>
</body>
 {{#if message}}
    <script>
      alert("{{message}}");
    </script>
  {{/if}}
</html>
